# Rust
/target/
**/*.rs.bk

# Nix
/result
/result-*

# Direnv
.direnv/

# Environment files
.env
.env.*

# Editors
.vscode/
.idea/

# Temporary files
*.swp
*.swo
*~
*.log
*.tmp
*.bak
*._gen.glsl

# Release packages
dist/

# OS metadata
.DS_Store
Thumbs.db
